<div class="row">
  <div class="col col-12 col-lg-6">
    <app-card [config]="CONFIG_CARD[CARD_KEYS.multiple]">
      <app-table [config]="CONFIG_TABLE[TABLE_KEYS.multiple]"></app-table>
    </app-card>
  </div>
  <div class="col col-12 col-lg-6">
    <app-card [config]="CONFIG_CARD[CARD_KEYS.topThree]">
      <app-table [config]="CONFIG_TABLE[TABLE_KEYS.topThree]"></app-table>
    </app-card>
  </div>
</div>
<div class="row mt-3">
  <div class="col col-12 col-lg-6">
    <app-card [config]="CONFIG_CARD[CARD_KEYS.interval]">
      <h6 class="card-subtitle mb-2 text-muted"> Maximum </h6>
      <app-table [config]="CONFIG_TABLE[TABLE_KEYS.maxInterval]"></app-table>
      <h6 class="card-subtitle mb-2 text-muted"> Minimum </h6>
      <app-table [config]="CONFIG_TABLE[TABLE_KEYS.minInterval]"></app-table>
    </app-card>
  </div>
  <div class="col col-12 col-lg-6">
    <app-card [config]="CONFIG_CARD[CARD_KEYS.winners]">
      <div class="row">
        <input type="number" [formControl]="yearFormControl" id="search" placeholder="Search by year"
          class="form-control form-control-sm {{controlIsInvalid() ? 'is-invalid' : ''}}"
          (keyup)="search($event.key === 'Enter')">
        <button type="button" class="btn btn-primary btn-sm" id="btn-search" (click)="search()">
          <i class="fa fa-search"></i>
        </button>
        <span *ngIf="controlIsInvalid()" id="passwordHelpBlock" class="form-text text-danger">
          Year is required and must be in 1900 and 2022
        </span>
      </div>
      <app-table [config]="CONFIG_TABLE[TABLE_KEYS.winners]"></app-table>
    </app-card>
  </div>
</div>
